:root {
    --primary--color: #3498db; 
    --secondary--color: #2ecc71;
}

.main-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.first-container {
    background-color: white; 
    border-radius: 10px;
    padding: 20px;
    color: var(--primary-color);
    width: 100%; 
    max-width: 500px; 
    height: fit-content;
    height: 500px;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

.first-container h1, p {
    background-color: white;
    margin-left: 25%;
    
}

#curriculos {
    padding-top: 70px; 

}


.first-container h1{
    font-size: 30px;

}

.first-container p{
    font-size: 30px;
}

.second-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    text-align: left;

}

.second-container h1{
    font-size: 35px;
    margin-bottom: 40px;
}

.second-container p{
    font-size: 25px;
}

.first-block {
    background-color: var(--primary--color); 
    padding: 30px;
    
    margin-bottom: 30px;
    border-radius: 10px;
    color: var(--secondary-color);
    height: 300px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.first-block h1, p{
    background-color: white;
    margin-bottom: 10px;

}

.first-block p{
    margin-left: 10%;
}

.first-block h1{
    margin-left: 10%;
}

.second-block {
    background-color: var(--primary--color); 
    padding: 30px;
    border-radius: 10px;
    color: var(--primary-color);
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;


    
}

.second-block h1, p{
    background-color: white;
    margin-left: 10%;
}

@media (max-width:1100px) {

    .main-container{
        flex-direction: column;
        align-items: center;
    }

    .first-container{
        margin-bottom: 30px;
        width: 90%; 
        max-width: 500px; 
    }
}