<div id="curriculos" class="main-container">

    <div class="first-container" data-aos="zoom-out-left" data-aos-duration="1000">
        <h1>Informações<br>necessárias</h1>
        <p>⋆ nome<br>
            ⋆ idade<br>
            ⋆ telefone de contato<br>
            ⋆ experiências anteriores<br>
            ⋆ habilidades<br>
            ⋆ formação<br>
        </p>
    </div>

    <div class="second-container" data-aos="zoom-out-right" data-aos-duration="1000">

        <div class="first-block">
            <h1>Não necessárias</h1>
            <p>
                ⋆ documentos pessoais<br>
                ⋆ estado civil<br>
                ⋆ quantidade de filhos<br>
                ⋆ endereço completo<br>
            </p>
        </div>

        <div class="second-block">
            <h1>Somente se solicitado</h1>
            <p>
                ⋆ pretensão salarial<br>
                ⋆ foto
            </p>
        </div>

    </div>

</div>
