<div class="body">
    <div class="container">
      <div class="left">
        <h1>* Habilidades</h1>
        <p>
          A descrição de suas habilidades e competências podem ser colocadas
          depois da apresentação de seus dados pessoais, objetivo profissional,
          formação acadêmica e complementar, além da experiência profissional.
        </p>
        <h3>
          Organizando as informações dessa forma, suas habilidades e competências
          vão aparecer bem no fim do currículo e fechar a sua apresentação pessoal
          de forma completa ao profissional de recursos humanos.
        </h3>
      </div>
      <ul class="right">
        <h1>Alguns exemplos que você pode usar:</h1>
        <li>Cordialidade e simpatia no trato com as pessoas</li>
        <li>Capacidade de liderança</li>
        <li>Capacidade de planejamento e organização do trabalho</li>
        <li>Zelo pela higiene e organização do local de trabalho</li>
        <li>Bom relacionamento interpessoal para trabalho em equipe</li>
        <li>Proatividade e iniciativa para resolução de problemas</li>
        <li>Conhecimentos em informática básica</li>
        <li>Facilidade com vendas e atendimento ao cliente</li>
        <li>Determinação e persistência para o alcance de metas</li>
        <li>Empatia diante das necessidades alheias</li>
  
        <li>Comprometimento com as normas e regulamentos da empresa</li>
        <li>Prática com aplicativos de mensagens e redes sociais</li>
        <li>Habilidade para transmitir informações de forma clara</li>
        <li>Capacidade de colaborar efetivamente com colegas</li>
        <li>Flexibilidade para lidar com mudanças e novos desafios</li>
        <li>Capacidade de gerar ideias novas e inovadoras</li>
        <li>Habilidade para criar conteúdo envolvente e persuasivo</li>
        <li>Aplicação de métodos de design para resolver problemas complexos</li>
        <li>Organização de documentos, agendamento de reuniões</li>
        <li>Experiência em lidar com clientes e resolver problemas</li>
        <li>Conhecimento em finanças e contabilidade</li>
      </ul>
    </div>
  </div>