<div class="main-container">
    <div class="first-container" data-aos="zoom-in" data-aos-duration="1000">
        <h1>✷<br>Objetivo profissional</h1>

        <p><strong>corresponde às pretensões que<br> você tem para a sua carreira</strong>, um<br> pequeno texto que deve dizer qual o<br> cargo que você deseja ocupar.<br><br><br>

            O texto do seu objetivo para<br> currículo deve apresentar quais são<br> as suas pretensões profissionais,<br> <strong>para que os recrutadores saibam<br>
            em quais vagas você pode se<br> encaixar na empresa</strong>.<br><br><br>
            
            <span class="secondary-color">O objetivo não pode ser longo<br>
            ou genérico demais!</span>
        </p>

        <p class="second-p">
            Mesmo que você não tenha traçado<br> seus planos de carreira, <strong>evite deixar<br> os textos muito abrangentes</strong>.
        </p>
    </div>

    <div class="second-container" data-aos="zoom-in" data-aos-duration="1000">


        <p>
            Para iniciar, você precisa informar o<br>
            cargo desejado, para que não<br>
            passe a imagem de que você não<br>
            está enviando o mesmo currículo<br>
            para várias oportunidades.<br><br><br>

            <span class="secondary-color">Caso você já tenha experiência<br>
                para a área em que está se<br>
                candidatando, deixe isso claro no<br>
                currículo, não é preciso que elas<br>
                sejam necessariamente formais.</span><br><br><br>

                Devem ser destacadas as seguintes informações:<br>
                ⋆ cargo desejado;<br>
                ⋆ experiências relativas à vaga;<br>
                ⋆ objetivo de vida relacionado com a posição que você deseja;<br>
                ⋆ qualidades pessoais que se destacam;<br>
                ⋆ maneiras como você pode contribuir com a empresa.<br>
        </p>


    </div>
</div>
