@import "../../../styles.css";
.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(250, 250, 250);
  flex-wrap: wrap;
  padding: 50px;
  gap: 40px;
  .card{
    width: 335px;
    min-height: 400px;
    background-color: #F4F2E9;
    border-radius: 30px;
    color: var(--primary-color);
    padding: 35px;
    .title{
      h1{
        font-size: 28px;
        font-weight: 900;
        line-height: 25px;
      }
    }
    ul{
      width: 100%;
      padding: 20px;
      li{
        font-size: 18px;
      }
    }
    p{
      font-size: 14px;
    }
  }
}