<div class="container" id="cursos">
    <div class="card" data-aos="zoom-out-right" data-aos-duration="1000">
      <div class="title">
        <h1>*  Onde fazer <br> cursos online?</h1>
      </div><br><br>
      <ul>
        <li>Fundação Bradesco</li>
        <li>Senai</li>
        <li>PUCRS</li>
        <li>Kultivi</li>
        <li>Cursa</li>
        <li>Udemy</li>
        <li>Youtube</li>
        <li>FGV</li>
      </ul>
      <p>(Alguns desses sites possuem opções de cursos gratuitos)</p>
    </div>
  
    <div class="card" data-aos="zoom-out-left" data-aos-duration="1000">
      <div class="title">
        <h1>Onde encontrar<br>
          vagas de emprego?</h1><br><br>

      </div>
      <ul>
        <li>Indeed</li>
        <li>Linkedin</li>
        <li>Infojobs</li>
        <li>Ciee</li>
        <li>Gupy</li>
        <li>Cato</li>
      </ul>
    </div>
  </div>