<div class="container" id="cursos">
  <div class="card" data-aos="zoom-in" data-aos-duration="1000">
      <div class="title">
          <h1>* Onde fazer <br> cursos online?</h1>
      </div><br><br>
      <ul>
          <li><a href="https://www.ev.org.br/" target="_blank">Fundação Bradesco</a></li>
          <li><a href="https://www.portaldaindustria.com.br/senai/" target="_blank">Senai</a></li>
          <li><a href="https://www.pucrs.br/educacao-continuada/" target="_blank">PUCRS</a></li>
          <li><a href="https://kultivi.com/" target="_blank">Kultivi</a></li>
          <li><a href="https://cursa.app/" target="_blank">Cursa</a></li>
          <li><a href="https://www.udemy.com/" target="_blank">Udemy</a></li>
          <li><a href="https://www.youtube.com/" target="_blank">YouTube</a></li>
          <li><a href="https://educacao-executiva.fgv.br/" target="_blank">FGV</a></li>
      </ul>
      <p>* Alguns desses sites possuem opções de cursos gratuitos *</p>
  </div>

  <div class="card" data-aos="zoom-in" data-aos-duration="1000">
      <div class="title">
          <h1>Onde encontrar<br> vagas de emprego?</h1><br><br>
      </div>
      <ul>
          <li><a href="https://www.indeed.com/" target="_blank">Indeed</a></li>
          <li><a href="https://br.indeed.com/" target="_blank">LinkedIn</a></li>
          <li><a href="https://www.infojobs.com.br/" target="_blank">InfoJobs</a></li>
          <li><a href="https://portal.ciee.org.br/" target="_blank">CIEE</a></li>
          <li><a href="https://www.gupy.io/" target="_blank">Gupy</a></li>
          <li><a href="https://www.catho.com.br/" target="_blank">Catho</a></li>
      </ul>
  </div>
</div>
