<div class="main-container">


    <div class="container" data-aos="zoom-in" data-aos-duration="1000">

        <div class="first-container">
            <h1>✷<br>Escolaridade</h1>

            <p>Um dos <strong>principais campos</strong> do<br>
                currículo é o de <strong>escolaridade ou<br>
                formação acadêmica</strong>.<br>
                Por isso, é fundamental preencher<br>
                as informações da maneira correta.<br>

            <span>Caso seu currículo tenha bastante<br>
                experiência e outras informações a preencher, <br>
                <strong>somente a última formação deve constar</strong>.<br></span>


            Por exemplo:<br> 
            Ensino médio completo, instituição X <br>
            – concluído em 1995.<br><br>


            <span>⋆ Nesse caso, você só precisa incluir<br>
                o ensino fundamental, <strong>caso tenha<br>
                alguma relevância para a vaga</strong>.<br>
                Por exemplo, se você quer trabalhar<br>
                na escola onde estudou quando<br>
                criança.</span><br><br>

        </p>
        </div>


        <div class="second-container">

            <p>


                    ⋆ Para colocar a faculdade no<br>
                    currículo, inclua o nome do curso, a<br>
                    instituição de ensino e as datas de<br>
                    início e término. Caso ainda esteja<br>
                    cursando, use “previsão de<br>
                    conclusão em mês/ano”.<br><br>

                    Ou seja, para que o campo de<br>
                    escolaridade fique o mais<br>
                    transparente possível, inclua a<br>
                    informação completa:<br><br>



                    ⋆ Nome do curso e modalidade<br>
                    (bacharelado, licenciatura ou tecnólogo em…);<br><br>

                    ⋆ Nome da Instituição, por extenso,<br>
                    seguido da sigla entre parênteses<br>
                    (se for o caso);<br><br>

                    ⋆ Ano de início e conclusão do curso<br>
                    ou previsão de término, caso ainda<br>
                    não tenha concluído.<br><br>
            </p>

        </div>

    </div>


</div>