<div class="main-container">


    <div class="container">


        <div class="first-container">

            <h1>✷ Resumo Profissional</h1>

            <p><strong>Aqui, você deve retomar a<br>
                trajetória profissional mostrando<br>
                como suas experiências te<br>
                habilitam ao cargo que você<br>
                deseja.</strong><br><br>

                O ideal é resumir todas as<br>
                informações do currículo em poucas<br>
                palavras.<br>
                
            <strong>Destaque suas principais<br>
                experiências, formações, conhecimentos<br>
                em softwares e em outros idiomas.</strong><br>
                
                Tenha em mente que esse campo<br>
                deve trazer evidências que reforcem<br>
                seu objetivo profissional.<br></p>


        </div>

        <div class="second-container">

            <p>
            No resumo profissional, você precisa<br>
            deixar clara a experiência que tem<br>
            na área, sem mentir (nem aumentar),<br>
            é preciso cumprir o requisito e<br>
            ter objetividade ao dar essa informação.<br><br>

            <strong>Faça um resumo das áreas em que<br>
            você já trabalhou, para mostrar o<br>
            tipo de experiência que você tem e<br>
            do que pode entregar à empresa.</strong><br><br>

            <span>Quanto mais experiência você tiver,<br>
            menos destaque precisa dar para<br>
            sua formação. Mas, se você ainda<br>
            não tem experiência profissional, o<br>
            foco do seu resumo deve ser a sua<br>
            formação, utilize sua experiência<br>
            acadêmica e voluntária para<br>
            escrever o texto.</span></p>

        </div>


    </div>


</div>